*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'poppins','sans-sarif';
}
body{
  background-color: rgb(45, 45, 45);
    background-repeat:no-repeat;
    background-size: cover;
    

}
.card{
    /* width: 60%; */
    max-width: 400px;
    background: linear-gradient(135deg , #00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px ;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;

}
.card form{
    display: flex;
    
}
.search button{
    margin-left: 10px;
    height: 60px;
    border-radius: 100%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    cursor: pointer;
 


}
.search button img{
    height: 60px;
    padding: 15px;
    
}
.weather-icon{
    width: 170px;
    margin-top: 30px;

}
.weather h1{
    font-size: 50px;
}
.weather h2 {
   font-size:40px;
}
.details{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  

}
.col {
    height: 100%;
    display: flex;
    align-items: center;

    
    display: flex;
    
}
.col .humidity{
    font-size: 25px;
    
   
}
.col img{
   
    height: 28px;
}
.col p{
    height: 100%;
    display: flex;
    align-content: space-around;
    margin-left: 10px;
    height: 16px;
    letter-spacing: 1px;
    
}
.wind{
    font-size: 25px;
}
.humidity .wind {
   
    font-size: 25px;
    margin-bottom: 6px;
}
.down{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}
.weather{
    display: none;

}
